<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</head>
<body>
<div class="container">
  <h1>Welcome to IOT Device Control Status</h1>
  <!--<p>Welcome to IOT Device Control Status</p>-->

  <h2>SWITCH STATUS</h2>
  <button id="b1" type="button" class="btn btn-primary"><%= botplace %> <span class="badge"></span></button>

  <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

  <button>Get External Content</button>


  <script>
    $(document).ready(function(){


      setInterval(function update(){



        $.get("kt", function(data, status){

          if(data=='Switched ON'){
          $("#b1").removeClass("btn-danger").addClass("btn-success").text("Switched ON");}
           else if(data=='Switched OFF'){
            $("#b1").removeClass("btn-success").addClass("btn-danger").text("Switched OFF");}
        });
      },1000);
    });
  </script>




</div>
</body>
</html>
